@{
    ViewBag.Title = "AddOrg";
}


@using (Html.BeginForm("AddOrg", "Units", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div class="panel panel-default">

        <div class="panel-heading">
            <span class="fa fa-pencil" aria-hidden="true"></span>
            افزودن واحد جدید

        </div>
    <div class="panel-body">
        <div class="form-group">
            
            <div class="col-sm-5 mb-20">
                <div class="input-group">
                    <span class="input-group-addon">
                            <i class="fa fa-pencil" aria-hidden="true"></i>*
                        </span>
                    <input type="text" class="form-control" name="Name" id="Name" placeholder="نام واحد">
                </div>

            </div>

            
            <div class="col-sm-5 mb-20">
                <div class="input-group">
                    <span class="input-group-addon">
                            <i class="fa fa-pencil" aria-hidden="true"></i>*
                        </span>

                    <input type="text" class="form-control" name="Desc" id="Desc" placeholder="توضیحات">
                </div>
            </div>

        </div>
        <div class="panel-footer">
            <button type="submit" class="btn btn-success"><i class="fa fa-save"></i>&nbsp;ثبت اطلاعات</button>
            <a href="@Url.Action("Index", "Units")" class="btn btn-warning"><i class="fa fa-arrow-right"></i>&nbsp;بازگشت به لیست واحد ها</a>
        </div>


    </div>
        </div>
}

